body {
  background-color: lighten(black, 5%);
}

.dungeon {
  position: relative;
  background-color: black;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

.room {
  position: absolute;
  transition: background-color 0.8s ease;
}

.hall {
  position: absolute;
  transition: background-color 0.8s ease;
  border-radius: 3px;
}

.absolute {
  position: absolute;
}
