.dungeon {
  position: relative;
  background-color: gray;
  width: 1000px;
  height: 700px;
}

.room {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.3);
}

.hall {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.1);
}

.player {
  position: absolute;
}
