body {
  background-color: lighten(black, 5%);
}

.dungeon {
  position: relative;
  background-color: black;
  width: 1000px;
  height: 700px;
}

.room {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.3);
}

.hall {
  position: absolute;
  // background-color: black;
}

.player {
  position: absolute;
}
